.toast {
    display: inline-flex;
    align-items: flex-start;
    text-align: left;
    font-size: 0.8rem;
    white-space: pre-line;
    max-width: 400px;
    word-wrap: break-word;

    .icon {
        height: 18px;
        width: 18px;
        min-height: 18px;
        min-width: 18px;
        margin-left: 10px;
    }

    &.info {
        color: var(--primary);
    }

    &.waiting {
        color: var(--secondary);
    }

    &.thinking {
        color: var(--active);
    }

    &.success {
        color: var(--base);
    }

    &.failed {
        color: var(--base-red);
    }

    &.attached {
        color: var(--base);
    }
}